﻿@using gimBook.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<!--
    ==================================================================================
        Strona dla niezalogowanego użytkownika
        Nie wymaga żadnych modeli
    ==================================================================================
-->


<div class="container" id="user-not-logged-in">
    <div class="jumbotron row">
        <div class="col-lg-7">
            <h1>GimBook</h1>
            <p class="lead text-info">GimBook jest nowoczesnym dziennikiem na miare XIX wieku</p>
            <p class="text" style="font-size: 20px;">Umożliwa uczniom dynamiczny podgląd wybranych przedmiotów oraz swoich statystyk przedmiotowych i ogólnych</p>
            <p class="text" style="font-size: 20px;">Nauczycielom daje wgląd do informacji o klasie oraz możliwość dodawania ocen dla wielu uczniów jednocześnie</p>
        </div>
        <div class="col-lg-4">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h2>Zaloguj się</h2>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <p style="overflow: hidden; margin-bottom: 0;">
                            @Html.LabelFor(m => m.Email)
                        </p>
                        <p>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "janek.kolwalski@gmail.com" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </p>
                    </div>
                    <div>
                        <p style="overflow: hidden; margin-bottom: 0;">
                            @Html.LabelFor(m => m.Password)
                        </p>
                        <p>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Hasło" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="col-sm-offset-1">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                    </div>
                    <hr />
                    <div>
                            <input type="submit" value="Zaloguj" class="btn btn-lg btn-danger" />
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}