﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    SMALL CONTENT BLOCKS, REUSABLE
*/
.half-block{
    display: block;
    width: 50%;
    height: auto;
    min-width: 50px;
    float: left;
}

.third-block{
    display: block;
    width: 30%;
    height: auto;
    min-width: 50px;
    float: left;

    transition: color 0.4s ease;
}

.third-block:hover{
    color: #5bc0de;
}

.grade{
    overflow: hidden;
    font-size: 50px !important;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
}

.subject{
    margin-bottom: 0 !important;
}
.topic{
    margin-top: 0;
    font-size: 15px;
    color: rgba(255,255,255,.4);
    font-style: italic;
}

.very-big-text{
    font-size: 92px !important;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CHART STYLING OVERRIDE */
body .ct-series-a .ct-line,
body .ct-series-a .ct-point {
  stroke: #df691a;
}

body .ct-series-b .ct-line,
body .ct-series-b .ct-point {
  stroke: #5bc0de;
}

body .ct-series-c .ct-line,
body .ct-series-c .ct-point {
  stroke: #f0ad4e;
}

body .ct-series-d .ct-line,
body .ct-series-d .ct-point {
  stroke: #4e5d6c;
}

body .ct-series-e .ct-line,
body .ct-series-e .ct-point {
  stroke: #5bc0de;
}

body .ct-series-f .ct-line,
body .ct-series-f .ct-point {
  stroke: #5cb85c;
}



.ct-grids *, .ct-labels *, .ct-label{
    color: white !important;
    stroke: white !important;
    font-size: 12px;
    font-weight: normal;
}




label {
    font-size: 20px;
}
#student-best-and-worst{
    height: 300px;
}


#current-subject{
    margin-bottom: 100px;
}

.space-row{
    height: 4px;
   
}

.list-grade-table table{
    font-size: 14px;
    width: 60%;
}

.list-grade-table{
     display: none;
}


#student-list a{
    text-decoration: none;
    font-weight: normal;
}

#student-list tr:hover td{
    text-decoration: underline;
    cursor: pointer;
}

#student-edit-form .form-group{
    float:left;
}

#student-edit-form input{
    display: block;
}