﻿<!--
    ==================================================================================
        Strona dla niezalogowanego użytkownika
        Nie wymaga żadnych modeli
    ==================================================================================
-->


<div class="container" id="user-not-logged-in">
    <div class="jumbotron row">
        <div class="col-lg-7">
            <h1>GimBook</h1>
            <p class="lead">GimBook jest nowoczesnym dziennikiem na miare XIX wieku</p>
            <ul></ul>

            <p><a href="http://asp.net" class="btn btn-primary btn-lg">O Nas &raquo;</a></p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Kontakt &raquo;</a></p>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <h2 class="text-primary">Zaloguj sie</h2>
            <form action="login" class="form-horizonal">
                <p class="form-group">
                    <label for="username">E-mail</label>
                    <input class="form-control" name="username" type="email" />
                </p>
                <p class="form-group">
                    <label for="username">Hasło</label>
                    <input class="form-control" name="username" type="password" />
                </p>
                <p>
                    <button class="btn btn-danger" type="submit">Zaloguj</button>
                </p>
            </form>
        </div>
    </div>
</div>
