﻿@model gimBook.ViewModels.IndexViewModel

<!--
    ==================================================================================
        Strona dla zalogowanego studenta.
        Wymagane parametry modelu to

            * Parametry użytkownika --
            * Nazwa i rok klasy --
            * Trzy ostatnie OCENY wraz z parametrami PRZEDMIOTU --
            * Średnia użytkownika ogólna --
            * Średnia klasy ogólna --
            * Lista Przedmiotów użytkownika --
            * Przedmiot ze średnią największą i najmniejszą --
            * Wszystkie oceny

            ** Zdobywanie listy ocen danego przedmiotu po kliknięciu pudełka z jego nazwą(AJAX)
            ** Zdobywanie listy średnich przedmiotu(AJAX)
    ==================================================================================
-->


<div class="container" id="user-student">
    <div class="row jumbotron">
        <div class="col-md-6">
            <p><h1 class="page-header">Witaj, @Model.CurrentUser.FirstName  </h1></p>
            <p>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</p>
            <p>Klasa @Model.UserClass.classYear @Model.UserClass.className</p>

            <p><a href="#student-subject-list" class="btn btn-success btn-lg btn-block">Mój dziennik &raquo;</a></p>
            <p><a href="#student-data" class="btn btn-info btn-lg btn-block">Moje dane &raquo;</a></p>
        </div>
        <div class="col-md-6 text-center">
            <h2 class="text-left text-info">Twoje ostatnie oceny</h2>
            <div class="row text-center">

                @if (Model.LastThreeGrades.Count > 0)
                {
                    foreach (var grade in Model.LastThreeGrades)
                    {
                        <div class="third-block">
                            <p class="grade">@grade.Int</p>
                            <p class="subject">@grade.Str1</p>
                            <p class="topic">@grade.Str2</p>
                        </div>
                    }
                }
                else
                {
                    <h2 class="text-center text-danger">Brak ocen</h2>
                }



            </div>
            <div class="row">
                <div class="half-block">
                    <h2 class="text-info">Twoja średnia</h2>
                    <p class="grade">@string.Format("{0:0.00}", Model.UserAverage)</p>
                </div>
                <div class="half-block">
                    <h2 class="text-info">Średnia Klasy</h2>
                    <p class="grade"> @string.Format("{0:0.00}", Model.UserClassAverage) </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="student-page-content">
        @if (Model.SubjectList.Count > 0)
        {
            <div id="student-subject-list">

                <h1 class="text-info">Twoje Przedmioty</h1>

                <p>Wybierz przedmiot by zobaczyć oceny</p>
                <div class="row">
                    @foreach (var subject in Model.SubjectList)
                    {
                        <button class="subject-button btn btn-success" id="subject-@subject.Int" onclick="getSubject(@subject.Int)">
                            <h3><b id="subject-button-name-@subject.Int">@subject.Str1</b></h3>
                            <p>@subject.Str2</p>
                        </button>
                    }
                </div>
            </div><!--student list end-->
            <div id="subject-grades">
                

                <div class="row" id="current-subject">                
                        <h1 class="text-center text-info">Kliknij przedmiot by zobaczyć oceny</h1>
                </div>

                <div class="row" id="student-data">

                    <div class="col-lg-6">
                        <h2 class="text-info">Najlepszy przedmiot:</h2>
                        <h1 class="text-uppercase">@Model.BestClass</h1>
                        <h2 class="text-danger">Najgorszy przedmiot:</h2>
                        <h1 class="text-uppercase">@Model.WorstClass</h1>
                    </div>
                    <div class="col-lg-6" id="student-grades">
                        <h2 class="text-primary">Twoje Oceny</h2>
                        <h3 id="student-all-grades"></h3>
                        <text>
                            <script type="text/javascript">

                                var data = {
                                    labels: [
                                        @foreach (var Gr in Model.AllGradesNum)
                                        {
                                            if(Gr.Equals(Model.AllGradesNum.Last()))
                                            {
                                                string t1 = (Model.GradeList.Names.ElementAt(@Gr.Grade));
                                                @Html.Raw("'" + t1 + "'")
                                            }else
                                            {
                                                string t1 = (Model.GradeList.Names.ElementAt(@Gr.Grade));
                                                @Html.Raw("'" + t1 + "', ")
                                            }
                                        }
                                    ],
                                    series: [
                                        @foreach (var Gr in Model.AllGradesNum)
                                        {
                                            if(Gr.Equals(Model.AllGradesNum.Last()))
                                            {
                                                string t2 = (Gr.Count.ToString());
                                                 @t2
                                            }else
                                            {
                                                string t2 = (Gr.Count.ToString() + ", ");
                                                @t2
                                            }
                                        }
                                    ]
                                };

                                var options = {
                                    labelInterpolationFnc: function (value) {
                                        return value[0]
                                    }
                                };

                                var responsiveOptions = [
                                  ['screen and (min-width: 640px)', {
                                      chartPadding: 30,
                                      labelOffset: 50,
                                      labelDirection: 'explode',
                                      labelInterpolationFnc: function (value) {
                                          return value;
                                      }
                                  }],
                                  ['screen and (min-width: 1024px)', {
                                      labelOffset: 25,
                                      chartPadding: 20
                                  }]
                                ];

                                new Chartist.Pie('#student-all-grades', data, options, responsiveOptions);


                            </script>
                        </text>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1 class="text-center text-danger">Nie posiadasz jeszcze przypisanych przedmiotów</h1>
        }
    </div> <!-- PAGE CONTENT END-->
</div> <!-- STUDENT PAGE -->