﻿@model gimBook.ViewModels.IndexViewModel

<!--
    ==================================================================================
        Strona dla zalogowanego Nauczyciela.
        Wymagane parametry modelu to

            * Parametry użytkownika --
            * Nazwa i rok klasy podlegającej --
            * Średnia klasy podlegającej --
            * Lista Przedmiotów nauczania --

            ** Lista Przedmiotów podlegających klasie i nauczycielowi(AJAX)
            ** Lista uczniów wybranego przedmiotu(AJAX)
    ==================================================================================
-->

<script type="text/javascript">sendGradesUrl = '@Url.Action("SendGrades", "Ajax")'</script>

<div class="container" id="teacher-index-page">
    <div class="row jumbotron">
        <div class="col-md-6">
            <p><h1 class="page-header">Witaj, @Model.CurrentUser.FirstName</h1></p>
            <p>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</p>

            <p><a href="#grade-input" class="btn btn-danger btn-lg btn-block">Mój dziennik &raquo;</a></p>
            <p><a href="#student-list" class="btn btn-primary btn-lg btn-block">Moja klasa &raquo;</a></p>
        </div>
        <div class="col-md-6 text-center">

            @if (Model.UserClassAverage != 0)
            {
                <h2>Twoja klasa:</h2>
                <h1><span class="text-info">@Model.UserClass.classYear @Model.UserClass.className</span></h1>
                <h2>Średnia klasy:</h2>
                <h1 class="text-info"><span class="text-info">@string.Format("{0:0.00}", Model.UserClassAverage) </span></h1>
            }
            else
            {
                <h2> Nie masz jeszcze przypisanej klasy</h2>


                <p> Cierpliwości :)</p>
            }
        </div>
    </div>
    @if (Model.SubjectList != null)
    {
        <div class="row" id="grade-input">

            <h1 class="text-danger">Nowa Ocena:</h1>
            <h2>Wprowadź klasę</h2>
            <div class="form-group col-md-12" id="class-pick">

                <label for="class">Klasa:</label>
                <select class="form-control show-tick btn btn-danger btn-group-justified btn-lg" id="subject-picker" style="height: 50px;" data-style="btn-primary" data-width="50%">
                    <option value="default" selected="selected">Wybierz Przedmiot</option>
                    @foreach (var cl in Model.SubjectList)
                    {
                        <option value="@cl.Int">@cl.Str1 - @cl.Str2</option>
                    }
                </select>

            </div>


            <div class="row" id="student-list-top" style="display:none">
                <div id="set-all-grades-to" class="form-group col-md-12">
                    <label for="all-grades-select" class="control-label">Ustaw wszystkie oceny na: </label>
                    <select class="form-control btn btn-default btn-group-justified" name="all-grades-set" id="all-grades-set">
                        <option value="0">-- BRAK -- </option>
                        <option value="6">Celujący</option>
                        <option value="5">B.Dobry</option>
                        <option value="4">Dobry</option>
                        <option value="3">Dostateczny</option>
                        <option value="2">Dopusczający</option>
                        <option value="1">Niedostateczny</option>
                    </select>
                </div>
                <div id="set-all-mult-to" class="form-group col-md-12">
                    <label for="all-mult-select" class="control-label">Ustaw wszystkie Wagi na: </label>
                    <select class="form-control btn btn-default btn-group-justified" name="all-mult-set" id="all-mult-set">
                        <option value="4">IV</option>
                        <option value="3">III</option>
                        <option value="2">II</option>
                        <option value="1">I</option>
                    </select>
                </div>
                <div id="set-all-topics" class="col-md-12 form-group">
                    <label for="all-topic-set" class="control-label">Ustaw wszystkie tematy na:</label>
                    <input type="text" class="form-control" id="all-topic-set" name="all-topic-set" />
                </div>

                <h1 class="text-center text-danger">Wprowadź Oceny</h1>
            </div>

            <div id="student-list-grade-form" style="margin-left: 0" class="row">
                <h1 class="text-center text-info">Wybierz przedmiot z listy :)</h1>
            </div>

        </div>
    }
    else
    {
        <h1 class="text-center text-danger">Nie posiadasz jeszcze przypisanych przedmiotów</h1>
    }

    @if (Model.StudentList != null)
    {
        <div class="container" id="student-list">
            <h1 class="text-danger">
                Twoja Klasa
            </h1>
            <p>Kliknij osobę, aby edytować</p>
            <p class="text-muted">Prawo do edycji ocen i haseł ma wyłącznie administrator</p>
            <table class="table table-striped" style="font-size: 16px">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>E-Mail</th>
                        <th>Dziennik</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in Model.StudentList)
                    {
                        <tr class="student-list-row">
                            <td class="student-list-f-name"><a href="@Url.Action("EditStudent", "home", new { id = @row.Id })">@row.FirstName</a></td>
                            <td class="student-list-l-name"><a href="@Url.Action("editStudent", "home", new { id = @row.Id })">@row.LastName</a></td>
                            <td class="student-list-e-mail"><a href="@Url.Action("editStudent", "home", new { id = @row.Id })">@row.EMail</a></td>
                            <td class="student-list-grades">                                
                                <div class="list-grade-table">
                                    <table class="table-hover">
                                        @foreach (var g in row.Grades)
                                        {
                                            <tr>
                                                <td>@g.SubjectName</td>
                                                <td>@g.Grade</td>
                                                <td>@g.Subject</td>
                                            </tr>
                                            <tr class="space-row"></tr>
                                        }
                                    </table>
                                </div>
                                <button class="btn btn-default grades-button">Pokaż Dziennik...</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>