﻿@model gimBook.ViewModels.SmallView.StudentListViewModel
@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-info">
        Edytuj Dane Użytkownika
    </h1>
    @using (Html.BeginForm())
    {
        <div id="student-edit-form">
            <div class="form-group col-lg-4">
                <label for="FirstName">Imię</label>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control btn-primary" })
            </div>
            <div class="form-group col-lg-4">
                <label for="LastName">Nazwisko</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control btn-primary" })
            </div>
            <div class="form-group col-lg-4">
                <label for="FirstName">Email</label>
                @Html.TextBoxFor(model => model.EMail, new { @class = "form-control btn-primary" })
            </div>
            <input type="hidden" value="@Model.Id" name="Id" />
            <h1 class="form-group-lg text-right">
                <button class="btn-lg btn-danger" type="submit">Aktualizuj Dane Ucznia</button>
            </h1>
        </div>
    }
</div>


